@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 16px;
  padding: 0.5 rem;
}

.logo {
  max-height: 50px;
  border-radius: 80%;
}


nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  position: relative;
  padding: 5px 0;
}

nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #fd4766;
  transition: 0.3s;
  bottom: 0;
}

nav ul li a:hover:after {
  width: 100%;
}

.navbarScroll.navbarDark {
  background-color: rgba(248, 253, 253, 0.9);
}

#content .btn {
  background-color: transparent;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 10px 30px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  border: 2px solid #7644ff ;
}

#content .btn:hover {
  background-color: #a1d0f8 ;
  border-color: #fd4766;
  border-width: 2px;
}
.content {
  padding: 10%;
}
.content .title {
  color: #0a0a0a;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #fd4766 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #1f1f25;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.content h1 span {
  color: #fd4766;
}
.content p {
  width: 55%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
}

body {
  background: url(image/background2.jpeg) no-repeat center center fixed;
  background-size: cover;
}

/* about section css */
#about {
    padding: 8%;
  }

.imageAboutPage {
    width: 100%;
}

/* services section css */

#services {
    padding: 8%;
  }

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color:#fd4766;
}
.servicesText:hover {
    border: 1px solid #fd4766;
}
/* portfolio section css */
#portfolio {
  padding: 8%;
}

/* contact section css */
#contact {
  padding: 18%;
}



